.logojc{
  
}
.texto-logo{
margin-top: 80px;
}

.cabecera{
  color: white;
}
.principal{
  background-color: #1d252c ;
}
.txt-prin{
  color: white ;
  background-color: #1d252c!important;
}

h1 strong {
  color: #026fff;
}